@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #213555;
    --cor-secundaria: #a8a505;
    --cor-terciaria: #ffffff;
    --cor-hover-secundaria: #8092b1;
    --cor-hover-terciaria: #8fa3c5;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: var(--cor-terciaria);
    border-radius: 8%;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 35%;
    border: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-hover-secundaria);
    min-width: 160px;
    border-radius: 8%;
    box-shadow: 0px 8px 16px 0px var(--cor-hover-secundaria);
    z-index: 1;

}

.dropdown-content a {
    color: var(--cor-primaria);
    font-weight: 600;
    padding: 12px 16px;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    display: block;
    border: 5px solid var(--cor-hover-secundaria);
    border-radius: 10px; 
}

.dropdown-content a:hover {
    background-color: var(--cor-hover-terciaria);
    color: var(--cor-primaria); 
    font-weight: 600;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: var(--cor-hover-secundaria); 
    background-color: var(--cor-terciaria);
}

.apresentacao {
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao__texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__texto__titulo {
    font-size: 1.875rem;
    font-family: var(--fonte-primaria);
}

.destaque-titulo {
    color: var(--cor-secundaria);
}

.apresentacao__texto__paragrafo {
    font-size: 1.188rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
}

.curriculo__titulo{
    font-size: 1.875rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);    
    display: flex;
    align-items: center;
    padding: 2% 5%;
}

.curriculo__paragrafo {
    font-size: 1.188rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
    padding: 0% 5% 1% 7%;
    text-align: justify;
}

.curriculo__subtitulo{
    font-size: 1.5rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    display: flex;
    align-items: center;
    padding: 2% 5%;
}

.curriculo__subtitulo__topicos{
    font-size: 1.188rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
    padding: 1% 5% 2.5% 7%;
}

.curriculo__subtitulo__topicos a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.375rem;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 40%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hover-terciaria);
    border: 2px solid var(--cor-terciaria);
}   

.apresentacao__imagem {
    width: 40%;
    border-radius: 10px;
}

.rodape {
    padding: 1%;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.875rem;
    font-weight: 600;
}


@media (max-width: 1200px) {
    .apresentacao{
        flex-direction: column-reverse;
    }
    .dropbtn {
        justify-content: center;
    }
        .cabecalho{
        padding: 20% 0% 10% 45%;
    }



}